.l-wrapper {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 1em;
}

.l-wrapper-large {
  max-width: $page-width-large;
  margin: 0 auto;
  padding: 0 1em;
}

.l-section {
  border-bottom: 1px solid $color-border;
  padding: 4em 0;
  &:nth-child(even) {
    background-color: $color-light-gray;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}

// GRID

p ~ .l-two-up {
  margin-top: 3em;
}

.l-two-up {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-left: -1em;
  margin-right: -1em;
  h1 {
    text-align: left;
  }
  div {
    @include flex-basis(300px);
    @include flex-grow(1);
    padding: 1em;
  }
}

.l-three-up {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  margin-left: -1em;
  margin-right: -1em;
  text-align: center;
  span {
    display: inline-block;
    margin-top: 1em;
  }
  div {
    @include flex-basis(33%);
    padding: 2em 1em;
  }

  svg {
    display: block;
    fill: #545454;
    height: 125px;
    margin: 0 auto;
    transition: fill 200ms;
    &:hover {
      fill: #8d8f9c;
      transition: fill 200ms;
    }
  }
}

.l-center {
  text-align: center;
}

img {
  width: 100%;
}
