.l-wrapper {
  margin: 0 auto;
  max-width: $page-width;
  padding: 0 1em;
}

.l-wrapper-large {
  margin: 0 auto;
  max-width: $page-width-large;
  padding: 0 1em;
}

.l-section {
  border-bottom: 1px solid $color-border;
  padding: 6em 0;
  &:nth-of-type(odd) {
    background-color: $color-light-gray;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}

// GRID

p ~ .l-two-up {
  @media(min-width: $break-medium-small) {
    margin-top: 3em;
  }
}

.l-two-up {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-left: -1em;
  margin-right: -1em;
  h1 {
    text-align: left;
  }
  &__item {
    @include flex-basis(300px);
    @include flex-grow(1);
    padding: 0 1em;
    &:last-child {
      @media(max-width: $break-medium-small) {
        padding-top: 1em;
      }
    }

    .l-two-up--unequal & {
      @media(max-width: $break-medium-small) {
        &:first-of-type {
          order: 2;
          padding-top: 1em;
        }
      }
      @media(min-width: $break-medium-small) {
        &:first-of-type {
          @include flex-basis(66%);
        }
        &:last-of-type {
          @include flex-basis(33%);
        }
      }
    }
  }
}

.l-three-up {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  margin-left: -1em;
  margin-right: -1em;
  text-align: center;
  span {
    display: inline-block;
    margin-top: 1em;
  }
  div {
    padding: 2em 1em;
    width: 50%;
    @media(min-width: $break-medium-small) {
      width: 33%;
    }
  }
}

.l-equal {
  @include flexbox;
  @include justify-content(space-between);
}

.l-center {
  text-align: center;
}

img {
  width: 100%;
}
