.header-container {
  position: relative;
  + * {
    padding-top: 7em;
  }
}

.header {
  background-image: url('images/header.jpg');
  background-position: bottom;
  background-size: cover;
  height: 66vh;
}

.icon {
  background-color: $color-light-gray;
  border-radius: 100%;
  height: 125px;
  width: 125px;
  position: absolute;
  left: 50%;
  bottom: -62.5px;
  transform: translateX(-50%);
  padding: 1em;
}

.contact {
  background-image: url('images/trees.jpg');
  background-size: cover;
  color: #fff;
}

.form-label {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
}

input, textarea {
  margin: .3em 0 2em;
  padding: .5em;
  width: 100%;
  font-size: .8em;
}

textarea {
  min-height: 150px;
}

.footer {
  background-color: $color-body;
  color: lighten($color-body, 50%);
  font-size: .8em;
  padding: 2em 0;
}

.u-mb-large {
  @media(min-width: $break-medium-small) {
    margin-bottom: 2em;
  }
}