.nav {
  background: rgba(255, 255, 255, .98);
  border-bottom: 1px solid $color-border;
  padding: .5em;
  position: fixed;
  width: 100%;
  z-index: 1000;
  ul {
    width: 100%;
    @media(max-width: $break-medium-small) {
      text-align: center;
    }
  }
  li {
    display: inline-block;
    vertical-align: middle;
  }
  svg {
    height: 30px;
    position: relative;
    top: 2px;
    width: 30px;
  }
  a {
    border-color: transparent;
    font-size: .9em;
    margin: 0 1em;
    &:hover {
      border-bottom: 2px solid darken($color-border, 10%);
    }
    &.no-border {
      border: 0;
    }
  }
}

.header-container {
  position: relative;
  + * {
    @media(min-width: $break-medium-small) {
      padding-top: 6em;
    }
  }
}

.header {
  background-image: url('images/header.jpg');
  background-position: bottom;
  background-size: cover;
  height: 40vh;
  @media(min-width: $break-medium-small) {
    height: 66vh;
  }
}

.header-icon {
  background-color: $color-light-gray;
  border-radius: 100%;
  bottom: -62.5px;
  height: 125px;
  left: 50%;
  padding: 1em;
  position: absolute;
  transform: translateX(-50%);
  width: 125px;
}

.skills-icon {
  display: block;
  fill: #545454;
  height: 125px;
  margin: 0 auto;
  transition: fill 200ms;
  width: 100%;
  &:hover {
    fill: $color-green;
    transition: fill 200ms;
  }
}

.hobbies {
  margin-top: 1em;
  &__text {
    color: $color-green;
    font-family: $font-header;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 200ms;
  }
  svg {
    height: 100%;
    transition: opacity 200ms;
    vertical-align: middle;
    width: 100%;
  }
  &__item {
    cursor: pointer;
    margin-right: 2em;
    position: relative;
    text-align: center;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover,
    &:focus {
      svg {
        opacity: 0;
        transition: opacity 200ms;
      }
      .hobbies__text {
        opacity: 1;
        transition: opacity 200ms;
      }
    }
  }
}

.instagram {
  margin-top: 1em;
  @media(max-width: $break-medium-small) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  img {
    vertical-align: bottom;
  }
  &__item {
    border: 2px solid $color-border;
    margin-right: 1em;
    position: relative;
    transition: opacity 300ms;

    svg {
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
    @media(min-width: $break-medium-small) {
      &:last-of-type {
        margin-right: 0;
        transition: opacity 300ms;
      }
    }
    &:hover {
      border: 2px solid $color-border;
      opacity: .8;
      svg {
        opacity: .95;
      }
    }
    @media(max-width: $break-medium-small) {
      flex-basis: calc(50% - 2em);
      margin: 1em;
    }
  }
}

.contact {
  background-image: url('images/trees.jpg');
  background-size: cover;
  color: #fff;
}

.form-label {
  display: block;
  font-weight: 600;
  letter-spacing: .02em;
  text-transform: uppercase;
}

input, textarea {
  border: 1px solid darken($color-light-gray, 40%);
  border-radius: 3px;
  font-size: .8em;
  margin: .3em 0 2em;
  padding: .5em;
  width: 100%;
}

textarea {
  min-height: 150px;
}

.footer {
  background-color: $color-body;
  color: lighten($color-body, 50%);
  font-size: .8em;
  padding: 2em 0;
  .l-wrapper {
    @include align-items(center);
    @include flexbox;
    @include justify-content(space-between);
    position: relative;
  }
  &-top {
    border: 0;
    svg {
      height: 25px;
      width: 25px;
    }
    &:hover {
      border: 0;
      svg {
        fill: $color-green;
      }
    }
  }
}

.u-mb-large {
  @media(min-width: $break-medium-small) {
    margin-bottom: 2em;
  }
}
