body {
  color: $color-body;
  font-family: $font-body;
  font-size: 16px;
  font-weight: 300;
  @media(min-width: $break-medium-small) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

h1 {
  font-family: $font-header;
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

p {
  line-height: 1.8;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 2px solid $color-border;
  transition: border-width 100ms;
  &:hover {
    border-bottom: 5px solid $color-border;
    transition: border-width 100ms;
  }
}

.button {
  -webkit-appearance: none;
  background: darken($color-light-gray, 20%);
  border-radius: 3px;
  border: 0;
  border: 1px solid darken($color-light-gray, 40%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .8em;
  padding: .75em 5em;
  text-transform: uppercase;
  width: auto;
  transition: background-color 300ms, border 300ms;
  &:hover {
    background-color: $color-green;
    border-color: $color-green;
    transition: background-color 300ms, border 300ms;
  }
}

.button-project {
  background: #ea1d2c;
  border-radius: 3px;
  border: 0;
  color: #fff;
  display: block;
  font-size: .9em;
  letter-spacing: .05em;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 150px;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: background 200ms;
  &:hover {
    border: 0;
    background: darken(#ea1d2c, 10%);
    transition: background 200ms;
  }
}