body {
  color: $color-body;
  font-family: $font-body;
  font-size: 18px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

h1 {
  font-family: $font-header;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

p {
  line-height: 1.8;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 2px solid $color-border;
  transition: border-width 100ms;
  &:hover {
    border-bottom: 5px solid $color-border;
    transition: border-width 100ms;
  }
}

.button {
  border-radius: 0;
  -webkit-appearance: none;
  background: $color-light-gray;
  text-transform: uppercase;
  font-size: .8em;
  padding: .5em;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: darken($color-light-gray, 10%);
  }
}
