@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Unica+One');

// Colors
$color-light-gray: #f4f4f4;
$color-body: #28292b;
$color-border: darken($color-light-gray, 5%);
$color-green: #748560;

// Fonts
$font-header: 'Unica One', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;

// layout
$page-width: 850px;
$page-width-large: 1024px;

// Break points
$break-small: 400px;
$break-medium-small: 600px;
$break-medium: 728px;
$break-large-medium: 880px;
$break-large: 950px;
$break-xlarge-large: 1080px;

