// Colors
$color-light-gray: #f4f4f4;
$color-body: #28292b;

// Fonts
$font-body: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

// layout
$page-width: 800px;

// Break points
$break-small: 400px;
$break-medium-small: 600px;
$break-medium: 728px;
$break-large-medium: 880px;
$break-large: 950px;
$break-xlarge-large: 1080px;

