---
layout: default
---

{% include header.html %}

<section class="l-section">
  <div class="l-wrapper">
    <h1>Hey there! My name is Cade</h1>
    <p class="l-center">I make things possible. Basically, I love putting care, attention, and love into projects to make them physically come to life – it’s my favorite part of the job. I live in Portland, OR, and am currently looking to use my experience in graphic design and production to follow my dream of entering the print industry.</p>
  </div>
</section>

<section id="skills" class="l-section">
  <div class="l-wrapper">
    <h1>Check out some of my work</h1>
    <div class="l-three-up skills">
      <div>
        {% include svgs/print.html %}
        <span>Printmaking</span>
      </div>
      <div>
        {% include svgs/icon.html %}
        <span>Iconography</span>
      </div>
      <div>
        {% include svgs/prod.html %}
        <span>Production</span>
      </div>
      <div>
        {% include svgs/photo.html %}
        <span>Photography</span>
      </div>
      <div>
        {% include svgs/brand.html %}
        <span>Brand Identity</span>
      </div>
      <div>
        {% include svgs/web.html %}
        <span>Web Design</span>
      </div>
    </div>
  </div>
</section>

<section class="l-section">
  <div class="l-wrapper">
    <h1 class="u-mb-large">So, what am I looking for?</h1>
    <h2>Screen Printing</h2>
    <p>I’m looking for an entry position at a shop where I can work with a team of experienced professionals. Whether it be in pre-production or physically working with screens, I hope to get my foot in the door and learn the details, labor, and love of the craft through experience. My design background, attention to detail, and strong desire to creatively solve problems in teams would make me an asset to any shop.</p>
    <div class="l-two-up">
      <div class="l-two-up__item">
        <h2>Digital Printing</h2>
        <p>Coming from the design industry, I want to know the process behind the curtain. I am interested in the technical, nitty-gritty aspect of the field and learn from experienced mentors how they real, tangible, and physical pieces. This needs more…</p>
      </div>
      <div class="l-two-up__item">
        <h2>Production</h2>
        <p>I’ve most recently lived and breathed everything about production design. From setting up files perfectly for print to managing the asset creation and organization of an entire website, I find satisfaction in applying order to chaos. I know the Adobe suite like the back of my hand, and I would love to contribute both design and management of your projects.</p>
      </div>
    </div>
  </div>
</section>

<section id="about" class="l-section">
  <div class="l-wrapper-large">
    <div class="l-two-up">
      <div class="l-two-up__item">
        <img src="assets/images/cade.jpg">
      </div>
      <div class="l-two-up__item">
        <h1>Cade Robinson</h1>
        <p>Ever since I can remember, I’ve been finding makeshift ways of applying my art onto different surfaces. Drawing on old return address labels in order to make stickers as an 8 year old eventually evolved into a BFA in Graphic Design. After 6 years in Washington DC, my partner and I moved ourselves across the country in search of happiness and belonging, and I’ve come to appreciate Portland’s love of craftsmanship and close ties to traditional mediums.</p>

        <p>I spend most days with my partner (also a graphic designer), our awkward dachshund, sweet old rat, and scrappy kitten, in our tiny apartment filled to the brim with our projects.</p>

        <p><a href="#">View Resumé</a></p>
        <div class="l-equal hobbies">
          <div class="l-equal__item hobbies__item">
            {% include svgs/hobby1.html %}
            <span class="hobbies__text">Hands-on Projects</span>
          </div>
          <div class="l-equal__item hobbies__item">
            {% include svgs/hobby2.html %}
            <span class="hobbies__text">Doodling, of couse</span>
          </div>
          <div class="l-equal__item hobbies__item">
            {% include svgs/hobby3.html %}
            <span class="hobbies__text">Road Cycling</span>
          </div>
          <div class="l-equal__item hobbies__item">
            {% include svgs/hobby4.html %}
            <span class="hobbies__text">Anything Outdoors</span>
          </div>
          <div class="l-equal__item hobbies__item">
            {% include svgs/hobby5.html %}
            <span class="hobbies__text">My Fuzzy Family</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="l-section contact">
  <div class="l-wrapper">
    <h1 class="u-mb-large">Let's chat!</h1>
    <form class="form" action="https://formspree.io/ampalanzi@gmail.com"
          method="POST">
        <label class="form-label">Name</label>
        <input type="text" name="name" required="">
        <label class="form-label" required="">Email Address</label>
        <input type="email" name="_replyto" required="">
        <label class="form-label">Message</label>
        <textarea name="message" required=""></textarea>
        <input class="button" type="submit" value="Send">
    </form>
  </div>
</section>
