---
layout: default
---

<section class="l-section">
  <div class="l-wrapper">
    <h1>Hey there! My name is Cade</h1>
    <p class="l-center">I am a production artist living in Portland, OR, currently looking for my future. Basically, I love making things possible. Putting the care, attention, and love into projects to make them physically come to life is my favoraite part of the job. I hope to use my background in graphic design to follow my dream of entering the print industry.</p>
  </div>
</section>

<section class="l-section">
  <div class="l-wrapper">
    <h1>Check out some of my work</h1>
    <div class="l-three-up">
      <div>
        {% include print.html %}
        <span>Print Making</span>
      </div>
      <div>
        {% include icon.html %}
        <span>Iconography</span>
      </div>
      <div>
        {% include prod.html %}
        <span>Production</span>
      </div>
      <div>
        {% include photo.html %}
        <span>Photography</span>
      </div>
      <div>
        {% include brand.html %}
        <span>Brand Identity</span>
      </div>
      <div>
        {% include web.html %}
        <span>Web Design</span>
      </div>
    </div>
  </div>
</section>

<section class="l-section">
  <div class="l-wrapper">
    <h1 class="u-mb-large">So, what am I looking for?</h1>
    <h2>Screen Printing</h2>
    <p>My dream career. I am looking for an entry position at a shop in which I can work with a team of expereinced professionals. Whether that be pre-production or actually working with screens, I hope to get my foot in the door and learn the ins-and-outs of the craft through experience and whatever wisdom my teammates have to pass on. While I may not have worked in a print shop environment before I am confident my experience, attention to detail, and strong drive for quality will somthing something something. Motivation. Problem-solving.</p>
    <div class="l-two-up">
      <div>
        <h2>Digital Printing</h2>
        <p>Not entirely sure how to talk about this one. It is still print and just as exciting to me but im looking for more hands on. but i am still interested in the process sooooooooo</p>
      </div>
      <div>
        <h2>Production</h2>
        <p>Other jobs I am confident I could apply my skills to and would be excited to learn include embroydery, sign making, promotional items</p>
      </div>
    </div>
  </div>
</section>

<section class="l-section">
  <div class="l-wrapper-large">
    <div class="l-two-up">
      <div>
        <img src="assets/images/cade.jpg">
      </div>
      <div>
        <h1>Cade Robinson</h1>
        <p>Ever since I can remember I have been finding makeshift ways of applying my art onto different surfaces. From making stickers with address labels when I was 8 to hand-painting type onto t-shirts when I was 16. After recieving my BFA in Graphic Design it became clear that Washington DC was not the place for me to pursue my dream career in screen printing due to the lack of shops, let alone open positions. When my partner and I moved our butts accross the country in search of happiness and belonging, I came to appreciate Portland’s love of craftsmanship and close ties to traditional mediums.</p>

        <p>I spend most of my days with my partner who is a fellow graphic designer, Dobby the awkward dachshund, Swoon the sweet rat, and Knives the scrappy kitten.</p>

        <p><a href="#">View Resumé</a></p>
      </div>
    </div>
  </div>
</section>

<section class="l-section contact">
  <div class="l-wrapper">
    <h1 class="u-mb-large">Let's chat!</h1>
    <form action="https://helloworks.co/app/form/send/8e384ee5c5244acd9c5c118235f5dff7" class="form">
      <label class="form-label">Name</label>
      <input type="text" name="name" required="" placeholder="Name">
      <label class="form-label">Email Address</label>
      <input type="email" name="email" required="" placeholder="email@email.com">
      <label class="form-label">Message</label>
      <textarea name="message" required=""></textarea>
      <button class="button" type="submit">Send Message</button><input type="hidden" name="validator" value="true">
    </form>
  </div>
</section>
